.contribution {
    font-family: "Heebo";
    text-align: left;
    padding: 0 9rem;
    margin: 70px 0;
}

.contribution__title {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 38px;
    margin-bottom: 50px;
    color: var(--color-sub-title);
}

.contribution-wrapper {
    width: 80%;
    min-height: 450px;
    margin: 0 auto;
    text-align: center;
    background-image: url('../../assets/images/cosmetic-clients.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

.contribution__content {
    width: 75%;
    padding: 100px;
    text-align: center;
    font-size: 24px;
    color: var(--color-green-light);
}

.contribution__content-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
    justify-content: space-between;
}

.contribution__content-list li {
    margin: 0 0 50px 0;
    flex: 33%;
}
