.skills,
.skills__content {
  letter-spacing: 1px;
}
.skills {
  font-family: "Heebo";
  text-align: left;
  padding: 0 9rem;
  margin: 50px 0;
}

.skills__title {
  width: 100%;
  margin: 0 auto;
  font-size: 55px;
  color: var(--color-sub-title);
}

.skills__content-header {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
}

.skills__content {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 40px auto;
  text-align: left;
  font-size: 24px;
  color: var(--color-green-light);
  line-height: 2;
}

.skills__content-header--logos {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.skills__content-header {
  line-height: 36px;
}

.skills__content-header--logos img {
  width: 40px;
  height: 40px;
}

.skills__content-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 0;
  padding: 0;
  gap: 16px;
}

.skills__content-list-item {
  display: flex;
  flex-direction: column;
  background: transparent;
  border: 1px solid #C8D4AF;
  padding: 24px;
}

.skills__content-list-item p {
  font-size: 20px;
  line-height: 24px;
}

@media (min-width: 992px) {
  .skills__title {
    width: 35%;
  }

  .skills__content-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}
