@media (min-width: 1200px) {
    .about__title,
    .about__content {
        width: 35%;
    }
}

.about {
    font-family: "Heebo";
    text-align: left;
    padding: 0 9rem;
}

.about > .separator {
  height: 2rem;
  text-align: right;
  background-image: url("../../assets/images/separator.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.about__title,
.about__content {
    width: 80%;
    margin: 0 auto;
}

.about__title {
    font-size: 55px;
    color: var(--color-sub-title);
}

.about__content {
    text-align: left;
    font-size: 24px;
    color: var(--color-green-light);
}
