.about__content {
  margin: 0 100px;
}

.about {
  font-family: "Heebo";
  text-align: left;
  padding: 0 9rem;
}

.about > .separator {
  height: 4rem;
  text-align: right;
  background-image: url("../../assets/images/separator.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.about__title,
.about__content-text {
  width: 100%;
  letter-spacing: 1px;
}

.about__title {
  font-size: 55px;
  color: var(--color-sub-title);
}

.about__content-text {
  text-align: left;
  font-size: 24px;
  color: var(--color-green-light);
  width: 55%;
}

@media (min-width: 993px) {
  .about__content {
    margin: 0 300px;
  }
}
