.about {
  font-family: "Heebo";
  text-align: left;
  padding: 0 9rem;
}

.about__wrapper {
  display: flex;
}

.about__image {
  display: none;
}

.about > .separator {
  height: 4rem;
  text-align: right;
  background-image: url("../../assets/images/separator.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.about__title,
.about__content-text {
  width: 100%;
  letter-spacing: 1px;
}

.about__title {
  font-size: 55px;
  color: var(--color-sub-title);
}

.about__content-text {
  text-align: left;
  font-size: 24px;
  color: var(--color-green-light);
  width: 100%;
}

@media (min-width: 993px) {
  .about__wrapper {
    justify-content: center;
    gap: 48px;
  }

  .about__image {
    display: flex;
  }

  .about__image img {
    width: 180px;
  }

  .about__content {
    width: 60%;
  }
}
