footer {
    display: flex;
    align-items: center;
    padding: 2rem 4rem;
}

footer > .logo {
    display: flex;
    width: 70vw;
    align-items: center;
}

.copyright a {
    margin-left: 16px;
    color: var(--color-green-light, '#C8D4AF');
    text-decoration: none;
    font-size: 16px;
}

footer .navigation {
    display: none;
    max-width: 60%;
    margin-left: 0;
    padding: 0;
    margin: 0;
}

footer .navigation > ul {
    display: flex;
    flex-direction: row;
}

footer .navigation > ul > li {
    list-style-type: none;
    margin: 0 1rem;
    color: #fff;
    cursor: pointer;
}

footer .navigation > ul > li > a {
    text-decoration: none;
    color: inherit;
    padding: 1rem;
    border-radius: 25px;
    height: 100%;
}

footer .navigation > ul > li > a:hover {
    background-color: var(--navigation-button-hover);
}

@media (min-width: 992px) {
    footer .navigation {
        display: block;
        max-width: 70%;
    }

    footer > .logo {
        width: 30vw;
    }
}

@media (min-width: 1200px) {
    footer .navigation {
        display: block;
        max-width: 80%;
    }
}
