@import './common/styles/_variables.scss';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: fit-content;
}

body {
  position: absolute;
  margin: 0;
  font-family: "Urbanist", 'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

:root {
  --main-bg-color: #6E7462;
  --secondary-bg-color: #E0DACD;
  --navigation-button-hover: #929789;

  --color-sub-title: #E0DACD;
  --color-green-light: #C8D4AF;
  --color-red: #ff7081;
}

h*, p {
  font-family: "Urbanist", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-bg-color);
  overflow-x: hidden;
}

.btn,
.btn.primary {
  font-size: 24px;
  font-weight: 400;
  padding: 10px 25px;
  border: 1px solid var(--color-green-light);
  border-radius: 30px;
  color: #fff;
  background-color: transparent
}

.btn.btn-secondary {
  font: "Urbanist", sans-serif;
  font-size: 16px;
  border: 1px solid var(--secondary-bg-color, '#E0DACD');
}

h2 > .highlight {
  color: #fff;
  font-size: 70px;
}

input {
  padding: 10px;
  border-radius: 30px;
  background: transparent;
  border: 1px solid var(--secondary-bg-color, '#E0DACD');
  font: "Urbanist", sans-serif;
  font-size: 15px;
  color: #fff;
}
