.work {
  font-family: "Heebo";
  text-align: left;
  padding: 0 9rem;
  margin: 50px 0;
}

.work__title {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 55px;
  color: var(--color-sub-title);
}

.footer-decoration {
  text-align: center;
}

.work__content {
  width: 100%;
  text-align: center;
  font-size: 15px;
  color: var(--color-green-light);
}

.work__content--text-list {
  padding: 0;
  list-style-type: none;
}

.work__content--text-list li {
  margin: 0 0 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 992px) {
  .footer-decoration {
    display: none;
  }

  .work__content {
    width: 80%;
    margin: auto;
    font-size: 24px;
  }
}

.work__content--text-description {
  color: var(--color-green-light);
  font-weight: 500;
  letter-spacing: 1px;
  padding: 10px;
}

.work__content--text-company {
  font-size: 40px;
  font-weight: 100;
  color: #fff;
}
